@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #1e004b;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

input,
select {
  color: black;
  padding: 0 0.5rem;
  border-radius: 0.3rem;
  transition: all 0.2s ease-in-out;
  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(132, 0, 255, 0.932);
  }
}

@layer components {
  .wrapper {
    padding: 4rem;
    border-radius: 2rem;
    border: 4px double rgba(168, 85, 247, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    /* další vlastní styly */
  }

  .center {
    @apply flex items-center justify-center;
  }

  .trans {
    @apply transition duration-150;
  }
}
