@font-face {
  font-family: "Asap";
  src: url("./assets/fonts/asap/asap.ttf") format("truetype");
  font-weight: 100 900; // od 100 (nejtenčí) do 900 (nejtlustější)
  font-style: italic oblique 0deg 10deg; // od 0 do 10 stupňů sklonu
}

@font-face {
  font-family: "Roboto Mono";
  src: url("./assets/fonts/roboto_mono/roboto_mono.ttf") format("truetype");
  font-weight: 100 900; // od 100 (nejtenčí) do 900 (nejtlustější)
  font-style: oblique 0deg 10deg; // od 0 do 10 stupňů sklonu
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply cursor-default;
  font-size: 16px;
  line-height: 1.5;
  // background-color: #1e004b;
  color: white;
  min-height: 100vh;
  background-image: url("./bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding-top: 4rem;
  // padding-bottom: 1.5rem;
}

// @media screen and (min-width: 640px) {
//   :root {
//     padding-top: 0;
//     // padding-bottom: 2rem;
//     align-items: center;
//     justify-content: center;
//   }
// }

@media screen and (min-width: 768px) {
  :root {
    padding-top: 0;
    // padding-bottom: 2rem;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  :root {
    font-size: 22px; /* Zvětšíme písmo pouze pro obrazovky větší nebo rovno 1024px */
  }
}
@media screen and (min-width: 1280px) {
  :root {
    font-size: 24px; /* Zvětšíme písmo pouze pro obrazovky větší nebo rovno 1280px */
  }
}
@media screen and (min-width: 1536px) {
  :root {
    font-size: 26px; /* Zvětšíme písmo pouze pro obrazovky větší nebo rovno 1536px */
  }
}

@layer components {
  /*** Utils ***/
  .center {
    @apply flex items-center justify-center;
  }

  .trans {
    @apply transition duration-200 ease-in-out;
  }

  input,
  select {
    @apply trans;
    color: black;
    padding: 0 0.5rem;
    border-radius: 0.3rem;
    transition: all 0.2s ease-in-out;
    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px rgba(132, 0, 255, 0.932);
    }

    &[type="number"] {
      font-size: 0.8rem;
    }
  }

  label,
  option {
    @apply cursor-default;
  }

  a,
  button,
  select {
    @apply cursor-pointer;
  }

  input[type="number"] {
    @apply cursor-text;
  }

  .purple-grad {
    @apply text-purple-300 bg-gradient-to-br from-purple-100 via-purple-500 to-purple-700 text-transparent bg-clip-text;
  }

  .emerald-grad {
    @apply text-emerald-300 bg-gradient-to-br from-emerald-200 via-emerald-500 to-emerald-800 text-transparent bg-clip-text;
  }

  .purple-grad-bg {
    @apply bg-gradient-to-br from-purple-100 via-purple-500 to-purple-700;
  }

  .emerald-grad-bg {
    @apply bg-gradient-to-br from-emerald-200 via-emerald-500 to-emerald-800;
  }

  .pink-grad {
    @apply text-pink-300 bg-gradient-to-b from-pink-400 via-pink-600 to-pink-800 text-transparent bg-clip-text;
  }

  .green-grad {
    @apply text-green-300 bg-gradient-to-br from-green-200 via-green-500 to-green-800 text-transparent bg-clip-text;
  }
  .asap {
    font-family: "Asap", sans-serif;
    font-weight: 600;
  }

  .mono-r {
    font-family: "Roboto Mono", sans-serif;
    font-weight: 400;
  }

  .rd {
    @apply border border-red-500;
  }

  /*** App ***/

  .icon {
    @apply cursor-pointer;
  }

  .wrapper {
    @apply asap m-1 px-2 pt-2 md:px-10 bg-slate-950 bg-opacity-40  backdrop-blur-md rounded-xl border border-purple-700 border-opacity-50 flex flex-col items-stretch justify-center;
    min-width: 42vw;
  }

  .header-block {
    @apply pt-2 m-1 mb-3 p-1 cursor-switch trans rounded-xl border border-purple-500 border-opacity-0 hover:border-opacity-40;
  }

  .header {
    @apply center text-3xl;
  }

  .number {
    @apply mt-1 mb-2 center text-5xl;
    font-weight: 700;
  }

  /*** Digits ***/

  .digit-index {
    @apply select-none text-pink-400 center;
    font-size: 0.6rem;
  }

  .digit-value {
    @apply mono-r select-none text-green-500 center;
    font-size: 0.6rem;
  }

  .digit {
    @apply mono-r select-none text-xl center;
  }

  .digit-select {
    @apply mono-r trans opacity-10 hover:opacity-80 text-xs center;
  }

  .digit-button {
    @apply p-1 rounded-md trans center opacity-30 hover:opacity-100 text-purple-400 disabled:text-slate-600;
  }

  .control-button {
    @apply sm:h-8 px-3 trans rounded-md  border border-purple-500 border-opacity-50 bg-slate-950 opacity-50 hover:opacity-90 text-slate-300 center bg-opacity-50;
  }

  /*** Base ***/

  .base-wrap {
    @apply relative py-2 my-2 border border-purple-500 border-opacity-10 rounded-lg bg-slate-950 bg-opacity-20 center flex flex-col;
  }

  .number-base {
    @apply mb-1 center text-4xl cursor-help;
  }

  .base-button {
    @apply p-1 rounded-md trans center opacity-30 hover:opacity-100 text-pink-400 disabled:text-slate-600;
  }

  .base-buttons {
    @apply h-full absolute center right-0 top-0 flex-col justify-center gap-1 items-center;
  }

  /*** Footer ***/

  .footer-link {
    @apply my-1.5 select-none text-xs center opacity-10;
  }

  .github-icon {
    @apply m-3.5 sm:m-2 absolute top-0 right-0 trans opacity-40 hover:opacity-60 text-purple-400 hover:text-purple-300;
  }
}
