@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 16px;
  // background-color: #1e004b;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url("./bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-width: 1024px) {
  :root {
    font-size: 18px; /* Zvětšíme písmo pouze pro obrazovky větší nebo rovno 1024px */
  }
}
@media screen and (min-width: 1280px) {
  :root {
    font-size: 22px; /* Zvětšíme písmo pouze pro obrazovky větší nebo rovno 1280px */
  }
}
@media screen and (min-width: 1536px) {
  :root {
    font-size: 26px; /* Zvětšíme písmo pouze pro obrazovky větší nebo rovno 1536px */
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

input,
select {
  color: black;
  padding: 0 0.5rem;
  border-radius: 0.3rem;
  transition: all 0.2s ease-in-out;
  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(132, 0, 255, 0.932);
  }

  &[type="number"] {
    font-size: 0.8rem;
  }
}

@layer components {
  .wrapper {
    @apply px-2 pt-6 pb-3 md:px-12 bg-slate-950 bg-opacity-40  backdrop-blur-md rounded-xl border border-purple-700 border-opacity-50 flex flex-col items-stretch justify-center;
    // border: 1px solid #a96ee133;
    // background-color: #05061a70;
  }

  .app-border {
    @apply border border-purple-500 border-opacity-10;
  }

  .center {
    @apply flex items-center justify-center;
  }

  .trans {
    @apply transition duration-150;
  }

  .button {
    @apply trans rounded-md bg-purple-700 opacity-30 hover:opacity-80 text-white;
  }

  .control-button {
    @apply sm:h-9 px-3 text-lg button;
    min-height: 2.25rem;
  }

  .purple-grad {
    @apply text-purple-300 bg-gradient-to-br from-purple-400 via-purple-600 to-purple-800 text-transparent bg-clip-text;
  }

  .green-grad {
    @apply text-green-300 bg-gradient-to-b from-green-400 via-green-600 to-green-800 text-transparent bg-clip-text;
  }

  .red-grad {
    @apply text-pink-300 bg-gradient-to-b from-pink-400 via-pink-600 to-pink-800 text-transparent bg-clip-text;
  }

  .rd {
    @apply border border-red-500;
  }

  .header {
    @apply center text-3xl;
  }

  .number {
    @apply center my-3 text-5xl cursor-help;
  }

  .number-base {
    @apply center text-4xl cursor-help;
  }

  .base-wrap {
    @apply py-3 my-3 app-border rounded-lg bg-slate-950 bg-opacity-20 center flex flex-col;
  }
}
